name: MinTic Delete CloudFormation Stack

on:
  workflow_dispatch:

jobs:
  delete:
    runs-on: ubuntu-latest

    steps:
    - name: MinTic Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: MinTic Delete CloudFormation stack
      run: |
        echo "Eliminando la stack MiPrimerStackConGITHUB..."
        aws cloudformation delete-stack --stack-name MiPrimerStackConGITHUB

    - name: MinTic Wait for deletion
      run: |
        echo "Esperando a que la stack sea eliminada..."
        aws cloudformation wait stack-delete-complete --stack-name MiPrimerStackConGITHUB
        echo "Stack eliminada correctamente."